[2017-02-12 01:42] mattjcowan opened #3 "Full path resolution"
When I use the root.* methods, it doesn't create the files if I use a full path. But if I use a relative path it is working.

The following does not work:
[code]

The following does work:
[code]

[2017-06-06 00:07] bauhouse opened #4 "Allow omitting front matter when generating Markdown posts"
I would like to generate Markdown files without front matter since the static site generator that I am using ([Harp](https://harpjs.com/)) is able to process partials as Markdown but will output the frontmatter.

My `data.config.js` file contains the following:

    // Create a `public/_sections` directory (or empty it if already exists)...
    root.directory('public/_content/sections', dir => {

[2017-06-06 18:09] #4 closed

[2017-08-14 20:32] jescalan opened #7 "transform-regenerator babel plugin not working for node"
Any async/await code run with node is crashing due to `regeneratorRuntime` not being defined :(

Would be happy to try to submit a PR to fix this, just wanted to file the issue first!

[2017-10-17 00:33] Jayphen opened #8 "Latest API updates changes image URLs"
The image URL returned from the API previously ended with `?`. This has changed with the latest API updates, which potentially breaks URLs if query strings were appended to them (this just happened to me).

Was this intentional, or will it be reverting to the previous response?

[2017-10-17 07:32] stefanoverna commented on #8
can you give me a failing example please? what version are you using?

2017-10-17 2:33 GMT+02:00 Jayphen <notifications@github.com>:

[2017-10-17 13:22] Jayphen commented on #8
Currently using 0.3.32.

I am not sure how to provide an example, but as of 0.3.32, this:
[code]

returns

[code]

where it previously returned

[code]

Note the `?` at the end of the URL previously.

I was using this in my view (Hugo) with query params attached like so:

[code]

which would return

[code]

but now returns

[code]

which is a broken path.

[2018-02-23 16:42] kylemac opened #10 "link resolution + json serialization"
two points but i think they are fairly interconnected so i've only filed one issue.

#### link resolution
it appears that there is partial support for this in the library but it's not documented. since all of your site's json gets returned from one API call this shouldn't be hard to do either. are you open to the idea of adding an option that would do nested resolution from within this client so t

[2018-02-24 13:14] stefanoverna commented on #10
Ok, so I'll start trying describe the current state of this package. As you have correctly guessed, our (JS and Ruby) clients have two different ways of interacting with DatoCMS API.

The first (`SiteClient`) is an extremely thin layer over our REST API endpoints (https://www.datocms.com/api/), it lets you do things like creating a record. It accepts simple plain old JS object as input, and return

[2018-02-24 13:23] stefanoverna commented on #10
Now, if the need is to find a good way of integrating DatoCMS with Spike, I would suggest you not trying to reinvent the wheel and directly offer to your users an `ItemsRepo` instance. I already talked to @jescalan in the past about this, even tried to work on a PR but got stuck :)

I'll copy the conversation here:

[2018-02-24 14:25] kylemac commented on #10
@stefanoverna awesome, thanks for providing more info about the `Loader`! i'll go back and play around with it and see if it exposes everything we need.

As for spike + dato, I guess I should say that I was not explicitly filing this issue to support spike-dato, I was just using it as a known reference. At the moment, I'm actually doing a non-spike implementation which was why link-resolution was

[2018-02-24 14:38] stefanoverna commented on #10
Ok, let me know if you got everything you need :)

[2018-02-24 15:07] kylemac commented on #10
@stefanoverna do these functions create another network call to the API or just traverse the object from the original API response?

[2018-02-24 15:30] stefanoverna commented on #10
Just to make clear: here we try to keep things simple and manageable, and for our initial use case (static websites) the current solution — that is, having a limited API, fetch everything during the build phase and then offer a handy interface for querying with the `ItemsRepo` — everything works fine.

This obviously doesn't work as well when you simply cannot afford to download everything (ie. cl

[2018-02-24 15:44] kylemac commented on #10
yup, understood. i personally like the big API response bc it lets me cache my data locally easily but obviously it limits folks with huge datasets or client-side requirements. thanks for sharing roadmap info, stefano

[2018-04-03 08:15] #3 closed

[2018-04-11 11:36] sjroesink opened #13 "defaultValue is not used in fields"
When creating or updating a field, the `defaultValue` attribute is not used.

[2018-04-22 11:27] abusedmedia opened #14 "Some issues with the DatoCMS-client"
Hi there:

I'm trying to use datocms-client as documented in the [official reference](https://www.datocms.com/docs/other/) to retrieve data using dato.config.js file without success.

Here the code I'm using with **read-only-api** and an `about_page` single instance model with a record:
[code]
Running `dato dump` the script generates an empty file.

Using the REST api call with the datocms-client

[2018-04-22 13:32] abusedmedia commented on #14
I'm closing it since I can write the json file if I specify each single prop in a literal object (i.e. `dato.aboutPage.title`).
Apparently, trying to parse and write the whole object that comes from dato (i.e. `dato.aboutPage`) is not possible.

[2018-04-22 13:32] #14 closed

[2018-05-17 16:59] ismay opened #15 "Typeerror bug in 0.5.0"
I just received a PR from greenkeeper for the 0.5.0 update, and the build is failing with the following error:

[code]

See the build log from netlify [here](https://app.netlify.com/sites/ismaywolff/deploys/5afdaedfe39e7c6ee07d698b) and the PR [here](https://github.com/ismay/ismaywolff.nl/pull/931).

Since this shouldn't be a breaking change I'm assuming this is a bug?

[2018-05-18 10:57] dbismut opened #16 "High Vulnerability because of https-proxy-agent"
Hi, running `npm audit` on my project resulted in the following vulnerability:
- **[High]**: Denial of service from the package `https-proxy-agent`.

<img width="570" alt="vulnerability" src="https://user-images.githubusercontent.com/5003380/40231290-e3d6b7fe-5a9a-11e8-8f69-954e94eaf155.png">

Maybe you should try upgrading the package to its latest version?

[2018-05-18 11:10] dbismut commented on #16
Also, upgrading `request` to its latest version makes the number of vulnerabilities drop from 17 to 5. In general there doesn't seem to be any semver implementation of the dependencies in package.json, I'm wondering why.

[2018-07-13 23:05] dbismut opened #18 "Not usable in browser?"
Is this just me or datocms-client is not usable in the browser because of the `browser: {"node-fetch": false}` in **package.json**?

[2018-07-19 19:09] tonicboy opened #19 "Image returns different data since 0.5.0"
It seems that the implementation of `Image` was changed since 0.5.0 (when it was moved to the new File.js) and it seems to return different data.

This is the result of an API call with 0.4.6:
https://jsoneditoronline.org/?id=07e14f7ae68d4c29a853dcd9363af4f0

And this is what is returned in 0.5.0+ (tested all the way up to 0.5.6):
https://jsoneditoronline.org/?id=9aa5ac585a7d42a2947a04f680ad2bb9

[2018-07-20 10:36] stefanoverna commented on #19
Yes, this is an expected behaviour, see https://www.datocms.com/changelog/cma-v2/

[2018-07-20 10:36] #19 closed

[2018-07-20 10:40] stefanoverna commented on #16
Just updated dependencies, thanks! Also, we've added semversioning of dependencies.

[2018-07-20 10:40] #16 closed

[2018-07-20 10:40] #13 closed

[2018-07-20 10:40] #10 closed

[2018-07-20 10:45] stefanoverna commented on #7
Fixed in master

[2018-07-20 10:45] #7 closed

[2018-07-20 10:46] #8 closed

[2018-07-20 15:42] stefanoverna commented on #18
Just released v0.6.0 that should solve the problem

[2018-07-20 15:42] #18 closed

[2018-07-27 20:00] dbismut opened #20 "Eslint-config-airbnb-base should be in devDependencies"
I think the title sums it all ;)

[2018-08-08 15:14] Siilwyn opened #21 "Breaking change between 0.6.1 and 0.6.2, 'path' of undefined"
Over at [hike-one](https://github.com/voorhoede/hike-one) we're using the Dato client to dump data, after upgrading from version `0.6.1` to `0.6.2` running `dato dump` returns:
[code]

[Comparing these two versions](https://github.com/datocms/js-datocms-client/compare/v0.6.1...v0.6.2) not a lot has changed but I guess this new filter causes something to be `undefined`? Thoughts?

Sidenote: the lat

[2018-08-18 07:55] lapidus opened #23 "Add documentation on Browser use"
Would be helpful with an example of browser use. I am failing to import and make use of the non-node version.

[2018-08-20 13:09] stefanoverna commented on #23
Should just work now!

[2018-08-20 13:09] #23 closed

[2018-09-09 06:05] corysimmons opened #24 "✖ Fetching content from DatoCMS TypeError: config.bind is not a function"
Following these directions: https://www.datocms.com/docs/other/#passing-the-api-token-as-environment-variable

[2018-09-09 06:06] corysimmons commented on #24
Nvm didn't get to the dato.config.js part. 🤦‍♂️

[2018-09-09 06:06] #24 closed

[2018-12-14 12:06] VitalijPetras opened #25 "Invalid character error IE & ios"
I am getting trouble with error. After importing datocms-client i get this error in IE11 "invalid character".

![screen-1](https://user-images.githubusercontent.com/29103850/50002895-fd57b000-ffa1-11e8-81c1-8cc7a3c42cd3.png)

After commenting out code with datocms all is working fine.

I am using gatsbyjs.

Any idea?

[2019-02-04 22:09] anthonysapp opened #27 "Uploads don't seem to work VIA the content management API"
I can successfully create an upload by getting permission:
https://www.datocms.com/content-management-api/#upload_request-0

And creating an upload:
https://www.datocms.com/content-management-api/#upload-2

I get a valid upload Id returned, but the upload shows up as an empty image in the media library.

I assume I need to actually manually upload the file to the S3 url provided by the upload perm

[2019-02-05 15:43] anthonysapp opened #28 "Created records with an id of "null" and null itemType of "null" using Content Management API"
Using the API, I forgot to specify an itemType when creating a record. This seems to have created several records with ids of "null" and itemTypes of "null". I can't see them in the admin to delete them, or fetch / delete them using the js client because of their null ids.

[2019-03-01 19:41] Elevory opened #31 "Cannot retrieve Single Field data through dump command"
My dato.config.js file is as follows:

[code]

It all works fine except for featuredImage. I've tried receiving the URL, path, name, format... all result in a crash related to File.js:

[code]

Any assistance would be appreciated.

[2019-03-12 14:36] matjack1 opened #32 "Update wpapi to v2"

[2019-04-03 15:03] gnuletik opened #33 "dump command: invalid json response body handling"
Hi,

If the dump command fails for an HTTP error, it returns the exit code 0.
It would be really useful for CI if the dump command could return 1 in this case.

Here is an example usecase
[code]

I can submit a PR. Any ideas how / where to implement that ?

My point is to implement some retry in case of error.
But maybe, it would be more accurate to implement the retry in this library.
It depends

[2019-04-12 16:26] wkentdag opened #34 "SVGs Uploaded as Plain Text"
I'm using the `SiteClient` to seed my CMS with values from a spreadsheet. When I upload a PNG it works just fine. No error is thrown when I upload an SVG, however, when I try to access it from the upload URL, it appears as `Content-type: text/html` and is unusable. It also is not visible as a preview in the CMS. It works fine after I manually upload.

Dependencies:

[code]

My code:
[code]

Source

[2019-05-14 12:27] matjack1 commented on #34
Sorry, I cannot reproduce, I've tried with another SVG ( https://www.datocms-assets.com/249/1557836703-star.svg ) and it worked.

I cannot access your SVG instead, it gives me a 401. Can you please share the image in another way?

I'm going to close now, but feel free to open again if you can reproduce again or if you can provide more info.

[2019-05-14 13:24] matjack1 commented on #33
Thank you for the suggestion! I've tried a solution in #36 :)

[2019-05-14 13:27] matjack1 commented on #31
@Elevory I'm guessing that `featuredImage` is not required. If that is empty you're always going to get an error while getting a property of undefined.

Can you try to add a check to see if the image exists before trying to reference a property?

I'm going to close this now, but feel free to reopen if that wasn't the case.

[2019-05-14 13:27] #31 closed

[2019-05-14 13:39] matjack1 commented on #20
It's fixed now, thanks!

[2019-05-14 13:39] #20 closed

[2019-05-14 15:29] matjack1 commented on #21
@Siilwyn I think this problem is linked to your specific project.

I think it's because you have an empty "Global SEO settings" in your project's settings.

Anyway, while digging into this I've found a related error in the current version, that is now fixed here: https://github.com/datocms/js-datocms-client/pull/37

I'm going to close this for now, but if you feel like you need more info just reop

[2019-05-14 15:29] #21 closed

[2019-05-14 15:45] matjack1 commented on #28
I cannot reproduce now, I'm getting

`Error: Required relationship: itemType`

But please if you can reproduce reopen the issue with a code example as this sounds important!

[2019-05-14 15:45] #28 closed

[2019-05-14 15:50] anthonysapp commented on #28
I've got an open cms project with this issue - happy to chat via email about it or have you take a look at my project.

[2019-05-14 15:52] matjack1 commented on #27
I would say that if you don't have a specific reason you should use the `client.uploadImage` / `client.uploadFile` functions that are more straightforward.

You just do: `client.uploadImage(filename)` and it works :)

Otherwise if you want to understand more about the S3 upload you can have a look at the internals of the JS client: https://github.com/datocms/js-datocms-client/blob/master/src/uploa

[2019-05-14 15:52] #27 closed

[2019-05-14 15:54] matjack1 commented on #28
Yes please! If you prefer just drop me a message at support@datocms.com and we can follow up there.

Thank you very much.

[2019-05-14 16:00] matjack1 commented on #25
I'm very sorry @VitalijPetras for the long delay in getting back to you.

But are you using our https://github.com/datocms/gatsby-source-datocms ?

Meanwhile we've drastically updated the plugin, so if this error is still relevant to you can you please try with the new version and reopen an issue in that project?

Otherwise I need more info on your setup (ideally access to your repo). If you prefe

[2019-05-14 16:00] #25 closed

[2019-05-16 10:00] #33 closed

[2019-05-17 12:01] Siilwyn commented on #21
Thank you @matjack1!

[2019-05-23 16:30] VitalijPetras commented on #25
I am dont have an issue with gatsby-source-datocms. Its working fine. I have issue when i need to update datocms with https://github.com/datocms/js-datocms-client. This package is throwing error in IE. So i removed it and replaced with fetch and http requests...

[2019-05-24 08:17] matjack1 commented on #25
I see @VitalijPetras thanks for getting back to me!

Do you still have some code that I could use to replicate the issue?

[2019-06-20 15:48] gnuletik opened #39 "Multiple links during dumps are broken on version >= 2.0.0"
Starting from version 2.0.0, this is not possible to access multiple links from the dump file.

`languages` is a `Multiple Link` field of the single instance model `text`.

dato.config.js

[code]

Expected output (from version 1.0.5)
[code]

Actual output (version 2.0.0)

[code]

[2019-06-21 10:05] overkektus opened #40 "What types of param can I pass to uploadImage?"
I use lambda function and I want upload image in to datocms. But I receive image inside lambda function as multipart/form-data. How to upload a picture in this case?
`client.uploadImage('http://i.giphy.com/NXOF5rlaSXdAc.gif')`

[2019-06-21 13:24] matjack1 commented on #40
@overkektus can you maybe save the image locally and then pass the path to `uploadImage` ?

You can pass both a URL or a local path and they both work :)

[2019-06-21 16:11] overkektus commented on #40
Thanks for answer!

[2019-06-21 16:11] #40 closed

[2019-06-25 08:42] #39 closed

[2019-06-27 16:02] alexpi opened #44 "Help: How to output multiple files fields to front matter"
I have this code that is generating .md files:
[code]
Everything works fine, except the photos front matter property that outpus null. I used the snippet that exists in the documentation https://www.datocms.com/docs/static-generators/other-ssg/fields#multiple-files-field

[2019-06-28 07:40] matjack1 commented on #44
hey @alexpi just checking that you are using the latest v2.0.4 of the client?

[2019-06-28 08:08] alexpi commented on #44
I just updated and it is still not working. It works if I first build the array in a variable and use that for the front matter property.
[code]
I am not super experienced with javascript, maybe that was the right way to do it?

[2019-06-28 08:43] matjack1 commented on #44
I see! Try maybe like the first option, but replacing `forEach` with `map` ?

[2019-06-28 08:49] alexpi commented on #44
Thanks, this is much cleaner.

[2019-06-28 10:50] matjack1 commented on #44
Great, I'm going to close this, but reopen if you need to :)

[2019-06-28 10:50] #44 closed

[2019-08-13 18:55] timvandevelde-voormedia commented on #34
I'm using the Ruby gem to upload images. Images uploaded by content API have the CORB issue in Chrome. Manually uploaded images do not.

https://huisdepinto.netlify.com/nieuws/

Center card background is manually uploaded. The others with the client. (WIP, content might change)

[2019-08-13 19:11] eddyh commented on #34
To add on @timvandevelde-voormedia message:

This image is uploaded via the website and returns an `image/jpeg` content type (display in browser with Chrome):
https://www.datocms-assets.com/15059/1565721602-1-elbohemio-sfeerplaat.jpg

This image was uploaded via the API and returns an `application/x-www-form-urlencoded` content type (displays as download in Chrome):
https://www.datocms-assets.com/

[2019-08-21 13:08] matsola opened #45 "Getting error when trying to upload big file using js upload helper"
Here's the program:
[code]
Results in

[code]

[2019-08-21 13:25] matjack1 commented on #45
yes, I can confirm this bug, we'll work on it as soon as possible, sorry

[2019-08-23 09:05] matjack1 commented on #45
@matsola just to let you know, it's on master, I'll try getting a version out soon

[2019-08-23 09:45] matjack1 commented on #45
OK, done v2.0.8 has the limit raised to 100MB

[2019-08-23 09:45] #45 closed

[2019-08-30 10:55] matsola commented on #45
Confirmed that it's working (however see https://github.com/datocms/js-datocms-client/pull/46).

[2019-09-12 16:09] eppemela opened #47 "Error in downloading and creating media during wp-import"
Hi guys, I was migrating a WP website to Dato and I encountered this issue with the media gallery files. Seems like the script tries to download the media objects by using only their relative path (i.e.  `/wp-content/uploads/2017/10/031c3b66-8693-35ac-a766-397dc4b0c898.jpg` instead of `https://www.wp-site-url.tld/wp-content/uploads/2017/10/031c3b66-8693-35ac-a766-397dc4b0c898.jpg`)

This is the er

[2019-09-13 10:26] matjack1 commented on #47
hey @eppemela :)

I'm not sure if the bug is related to your WP installation or to our code.

I just checked another install and in the `source_url` I could see the entire URL.

If you want me to look more into the problem I would need to have a look at your site. You can share it also over support@datocms.com

Ciao!

[2019-09-13 12:36] eppemela commented on #47
Ciao Mat, I suspected that... this site has many plugins activated. Nevermind, I'll close the issue! Thanks anyway, ciao!

[2019-09-13 12:36] #47 closed

[2019-09-24 12:30] #34 closed

[2019-10-01 12:39] RamonGebben opened #48 "Update documentation"
In `/docs/site-api-client.md` usage is mentioned like this;

[code]

The tests say it should be like:

[code]

also this is a syntax error.
[code]

[2019-10-09 13:17] meandkareem opened #50 "Issues on middleman build"
When I try to

After including node module with

var SiteClient = require('datocms-client').SiteClient;
const client = new SiteClient("<My API KEY> ");

i get this error on midleman build ... local and netlify

events.js:174
      throw er; // Unhandled 'error' event
      ^
Error: Line 1720: Unexpected token function
    at constructError (/Users/milemodic/Sites/uec/node_modules/esprima/esprima.j

[2019-10-09 13:28] matjack1 commented on #50
Hello @meandkareem are you only adding those two lines and you get that error?

I cannot find any sign of our module in the stack trace, do you agree? Can you give me a bit more context on the file you are running so that I can try replicating the error myself?

[2019-10-09 13:32] meandkareem commented on #50
Yes.

Soon as I add these two lines I get errors above.

Everything works fine when I'm working with middleman server .. but soon as I or netlify runs build production command it fails. When I comment these two lines everything works fine.

[2019-10-14 11:06] matjack1 commented on #50
sorry @meandkareem I cannot reproduce your error. Can you please give me access to your repo so that I can see what's going on?

[2019-10-14 11:08] #48 closed

[2019-10-16 22:21] clockshark opened #51 "v3.0.6 wp-import doesn't work"
I still cannot import from WordPress.

it just hangs on importing data even from a brand new WordPress instance

$ ./node_modules/.bin/dato wp-import --token=token  --wpUrl=http://test.local/  --wpUser=user     --wpPassword=pass
√ Fetching existing data

[2019-10-17 12:31] matjack1 commented on #51
Hello @clockshark I've just tried to run a `wp-import` but I cannot reproduce :(

Can you please check if the JSON APIs are enabled by going to `http://test.loca/wp-json` ?

Can you help me reproduce otherwise?

Thanks!

[2019-10-17 12:54] matjack1 commented on #51
I've just seen all your messages in Support as well. Can you please confirm you are on the latest version by running `./node_modules/.bin/dato --version` ?

[2019-10-17 15:19] clockshark commented on #51
http://test.local/wp-json?  yes this is working

Of course I am on the latest...thats why I said 306 in the title :)
$ ./node_modules/.bin/dato --version
3.0.6

I made it publicly accessible if you want to try it.  Its just a dev environ machine
http://3c96e6e7.ngrok.io/wp-json

username username  password password

I also tried in WSL, powershell and gitbash in both admin and non admin (sudo)

It

[2019-10-17 15:24] matjack1 commented on #51
OK, on which operating system, node version are you?

[2019-10-17 15:26] clockshark commented on #51
windows 10

$ node -v
v10.15.3

[2019-10-17 15:28] matjack1 commented on #51
OK, I'll test it with that setup myself and get back to you, it might happen tomorrow though, hope it's OK

[2019-10-17 15:31] matjack1 commented on #51
yes, sure, thank you

[2019-10-18 13:50] #51 closed

[2019-10-18 13:53] matjack1 commented on #51
OK @clockshark we have tested v3.0.7 on Windows, Mac and Linux, it should work as expected.

Can you please try again and reopen the issue if needed? Thank you!

[2019-11-05 22:56] mccallofthewild opened #53 "`SiteClient#uploadFile(imageUrl)` throws TypeError: Cannot read property 'relationships' of undefined"
`SiteClient#uploadFile(imageUrl)` throws `TypeError: Cannot read property 'relationships' of undefined` unexpectedly with normal usage.

The code previously worked, then randomly stopped functioning, both server-side and locally.

Setup:
* Unix
* Node.js (v8, v9, v12)
* `datocms-client` version "2.0.10"
* Read/Write token
* Core Plan

The documented example fails:
[code]

Full error output:
[code]

[2019-11-06 00:25] mccallofthewild commented on #53
This issue was caused by an old package version, likely related to a lack of backward compatibility with the server API.

Updating `datocms-client` to the latest version (currently v3.0.6) solved the issue.

[2019-11-06 00:25] #53 closed

[2019-11-06 08:59] matjack1 commented on #53
yes @mccallofthewild it's as you said, we had to break backwards compatibility and if you are working with file uploads you need to update the client, sorry for that

[2019-11-16 20:24] distinctperspective opened #54 "crashing dump"
crashing on this creat post loop

    root.directory('./_posts', dir => {
        dato.posts.forEach(post => {
            dir.createPost(
            `${post.slug}.md`,
            'yaml',
            {
                frontmatter: {
                title: post.title,
                featureimage: post.featureimage && post.featureimage.toMap(),
                permalink: `/blog/${post.slug}`,

[2019-11-18 09:10] matjack1 commented on #54
@distinctperspective can you please share more details on your setup, like Node.JS version and also how did you install Node so that I can try reproducing?

If you are on a different version, can you please try using Node v10.x? I think I still need to test v12 on Windows :(

[2019-12-06 19:19] fatihky opened #56 "when I give wp-import command, docopt exits without any error"
Hi, I'm trying to import data from an existing wordpress site with your client. I've used the same command (changed the credentials) from your blog post: https://www.datocms.com/blog/wordpress-importer/ But the tools exits with a non-zero exit code at the https://github.com/datocms/js-datocms-client/blob/c98f547436ee254e79a7fdfdf0eff2f0a7d49254/src/cli.js#L21

I'm not sure what is the problem is,

[2019-12-09 09:49] matjack1 commented on #56
hey @fatihky thank you for reporting this!

We cannot replicate this, can you please specify your system setting? Like operating system and node.js version?

Thank you!

[2019-12-20 12:52] fatihky commented on #56
Hi, maybe the special characters in the wordpress password caused this problem... When I put `--wpPassword` option in single quotes, command runs without a problem.

[2019-12-20 12:52] #56 closed

[2019-12-20 12:53] matjack1 commented on #56
Thank you for the feedback!

[2020-01-08 10:03] lockevn opened #59 "How can I get URL of asset without using the js-datocms-client?"
Hi, I'm integrating DatoCMS with Nuxt.

I get the result from GraphQL (via vanilla `fetch()`)
the `coverImage` is a field with type `single asset`

Here is what DatoCMS return to me
`"coverImage": {
          "id": "1187106",
          "filename": "6lSja6y.jpg"
        }
`

How can I get the full URL to display the file in browser?
I'm struggling few hours google without success. Since I'm using v

[2020-01-09 07:05] lockevn commented on #59
My bad. I don't know there is url field of the File. The auto suggestion does not show it in the API Explorer so I cannot see it.

![image](https://user-images.githubusercontent.com/122280/72045583-0ae88200-32e9-11ea-8c63-3f6ee0dff0c8.png)

Problem solved.

[2020-01-09 07:05] #59 closed

[2020-01-10 01:54] tbrannam opened #60 "key spelling issue: appeareance"
When writing migration scripts I was initially confused why my field definitions were not initialized as expected - it turned out that I had mistyped the `appeareance` for a field as `appearance`.

Unless this is a British English variant that I am unfamiliar with, I think this is a misspelling of `appearance`.   It is found in this form throughout the DatoCms client and gatsby-source

https://git

[2020-01-10 13:14] matjack1 commented on #60
yes @tbrannam you are right, it's a misspelling! We need to change this around I guess

[2020-01-14 14:52] matjack1 commented on #50
Closing for lack of reply

[2020-01-14 14:52] #50 closed

[2020-01-14 14:54] matjack1 commented on #54
Closing for lack of reply.

[2020-01-14 14:54] #54 closed

[2020-02-18 21:04] wirsing opened #61 "Slug field not autogenerating when using client.createItems"
Steps to reproduce:

- Create model with Title and Slug field (slug being unique and dependent on title)
- Upload record with client.createItems

Observer Behavior:
- Client won't let me upload unless I specify slug field key
- If specified with null or else slug field is not autogenerated based on title

Expected Behavior:
- Client let's me upload without specifying slug field
- Slug field is aut

[2020-02-21 16:47] matjack1 commented on #61
Hello @wirsing this is the intended way it should work actually.

You should specify the slug field yourself when using the JS client or when updating content via the API.

[2020-02-21 16:47] #61 closed

[2020-02-25 00:29] wirsing commented on #61
Thanks @matjack1

That's a bummer :) How would I solve the following use case?

I have to import roughly 1000 records from another service. Each record needs a slug since it contains all the data for a detail page. I don't want to manually generate slug for each one.

[2020-02-25 09:01] stefanoverna commented on #61
You can just use something like https://www.npmjs.com/package/slugify to generate them, should be pretty straight-forward @wirsing!

[2020-02-25 15:57] wirsing commented on #61
@stefanoverna I should have formulated better: How do I leverage the unique field + automated slug field functionality of dato when syncing around 1000 records without having to write my own duplicate slug + generate unique slug functions? I guess it's not possible with Dato?

[2020-02-25 17:48] stefanoverna commented on #61
@wirsing I've got 2 options for you:

1. try to create the resource, and if it fails with a validation error on the slug then add an incremental integer to it
2. use https://github.com/Flet/github-slugger to generate slug: it handles duplicates for you client side

[2020-03-26 22:17] aditya-prasad-projects opened #66 "contentful-import only parts"
I have an contenful account, wanted to migrate to datocms, but not everything, nor do I want to delete content in contentful. So, wanted to implement or provide a new option while running dato contentful-import, that takes in content types.

Not sure if this issue was discussed and not implemented

[2020-03-27 08:56] matjack1 commented on #66
Hello @aditya-prasad-projects!

First, we don't delete content on Contentful when importing, so you should be safe there.

Then have you thought about importing everything and then deleting the models that you don't need? It's a lot of content?

If you want to try adding that feature I'm more than happy to review the code and test it myself! Feel free to be in touch either here or on https://commu

[2020-03-27 12:42] aditya-prasad-projects commented on #66
I took a look at how it can be done, I came to the same conclusion as you suggested, but instead of deleting what was imported, I had thought I will just skip the rest and just migrate whatever the user specified, looking at command.js now to see which all functions I would have to change to just migrate what the user wants.
But thinking about it now, makes more sense to just delete it, rather tha

[2020-04-01 09:07] #32 closed

[2020-04-10 12:18] #60 closed

[2020-04-14 20:27] mattdwardle opened #69 "Issue with Importing Wordpress Data"
I am getting some error with the wordpress api importing tool. See console error below:

[code]

[2020-04-15 09:18] matjack1 commented on #69
hello @mattdwardle can you please confirm that your WP instance has the `/wp-json` endpoint active and reachable from where you run the script?

If so, can you please help me reproduce your error? Maybe send over at https://www.datocms.com/support/ more details on your WP instance and I can try to import myself?

[2020-04-15 12:00] mattdwardle commented on #69
Hi @matjack1 we have JWT authentication on our wordpress api. Does the app get a bearer token first before making the request or is there some way I can pass it as props?

[2020-04-15 12:40] matjack1 commented on #69
we are using this library: https://github.com/WP-API/node-wpapi#authentication which looks like it's only allowing user/pass auth at the moment?

You can try more by yourself by tweaking this: https://github.com/datocms/js-datocms-client/blob/master/src/wpImport/command.js maybe?

Let me know if I can help you further!

[2020-04-27 15:55] matjack1 commented on #69
I'm closing this for now, but if you need anything else from me feel free to reopen!

[2020-04-27 15:55] #69 closed

[2020-05-31 16:04] fatihky opened #70 "Some retry logic on api requests"
Hi, I am using [gatsby-source-datocms](https://github.com/datocms/gatsby-source-datocms) module. I get some connection errors from your module. My internet connection became unstable and I think my modem could cause this but I'm not sure. Anyways, my internet connections is unstable and I am getting this error very frequently:
[code]
I also encounter with `Could not subscribe to real-time events!`

[2020-06-08 17:28] fatihky commented on #70
Update: I've implemented retry logic for the API requests. You can check out it from here: https://github.com/fatihky/js-datocms-client/tree/feat/retry-api-requests
But I've not yet implemented the same thing for **pusher** integration.

[2020-06-09 10:12] souljuse commented on #66
Merged pull request!

[2020-06-09 10:12] #66 closed

[2020-06-11 07:30] swaroopsm opened #73 "Updating record meta fields does not work as expected"
Hello folks,
The docs for Content Management API (https://www.datocms.com/docs/content-management-api/resources/item/update) mentions on updating the meta fields. I also notice there is an HTTP example for the same.

I tried updating my record using:
[code]
But this doesn't seem to work as expected as I presume the payload body updates only the record fields instead of any meta fields?

Is there a

[2020-06-11 15:21] matjack1 commented on #73
hello @swaroopsm!

you are right about the docs, I'm going to update that now. The problem is that while we allow you to send over the meta fields, we ignore that. We do allow the meta to be sent as a convenience for when you get a record, you update the object and you send it back.

But the meta fields represent an internal state and cannot be changed, sorry!

[2020-06-11 15:21] #73 closed

[2020-06-15 05:02] tomswork opened #74 "client.items.all() reads all model data and ignores user role"
Specifically relating to this function
https://www.datocms.com/docs/content-management-api/resources/item/instances
When not using a filter and just calling `all()` it'll ignore the user role associated to the API key and list everything out, other functions like find() seem to be using the user role as expected

[2020-06-15 08:25] matjack1 commented on #74
thank you very much for this @tomswork

[2020-06-15 13:37] matjack1 commented on #74
I'm going to get back to you on Community: https://community.datocms.com/t/api-limitations-set-by-user-roles/1084/ as this is not a specific error of the JS client

[2020-06-15 13:37] #74 closed

[2020-06-22 06:45] gboston opened #75 "Large file uploads via Cloud functions"
It seems that the current implementation of the file upload with an url downloads the file locally before uploading it via the CMA. Is there a possibility to make use of streams or just an url instead of the current logic of downloading the file? This is giving me out of memory exceptions on Google Cloud functions of 2Gb memory.

[2020-06-23 09:51] delphaber commented on #75
Related discussion: https://community.datocms.com/t/file-upload-from-cloud-functions/1101/2

[2020-06-24 08:06] matjack1 commented on #75
I'm closing this as we'll keep only the feature request on community, thanks for this!

[2020-06-24 08:06] #75 closed

[2020-08-19 20:42] monsieurnebo commented on #69
For people having trouble importing WP (e.g. authentication, wordpress.com hosted, ...), you should be able to:

1. Login your WP as admin
2. Export the WP content
3. Create a local instance (the easy way is through Local by Flywheel)
4. Import the data in the local WP
5. Use `dato-client` on the local instance
6. ???
7. PROFIT

[2020-08-26 08:45] RamonGebben opened #79 "Add command to destroy sandbox environment"
While setting up our CI process to create sandbox environments for each of our MR's(Merge Requests), I noticed there was no way to remove/destroy the sandbox when the MR gets merged/closed.

By adding a simple command which calls the `environments.destroy` method of JS client we can easily destroy sandboxes using the same tool by which is was created.

## API suggestion

[code]

[2020-08-26 09:36] stefanoverna commented on #79
Awesome @RamonGebben, thanks! On it!

[2020-08-28 07:16] #79 closed

[2020-08-28 07:49] RamonGebben opened #81 "Add command to create a new project"
We would like to make project creation a part of our scaffolding process so it would be great if we could automate this.
I’ve been looking through the documentation but it seems like all API documentation already expects a project to exist.

## API proposal

[code]

[2020-08-31 09:52] RamonGebben opened #82 "Environment destroy command never receives `environmentId`"
While working with the new command `dato environment destroy` I noticed it always fails because the `environmentId` is improperly destructured from the options.

We need to use `<environmentId>` instead of `environmentId`.

[2020-08-31 09:54] stefanoverna commented on #82
Could you provide a quick fix? 👍

[2020-08-31 09:54] stefanoverna commented on #82
too fast!

[2020-08-31 09:59] stefanoverna commented on #82
Released in 3.0.37

[2020-08-31 09:59] #82 closed

[2020-08-31 10:14] RamonGebben opened #84 "Restructure CLI."
I've been using the CLI a lot more intensive now and am happy to start adding/improving some of the existing commands.
I do want to open a discussion about the ordering/structuring of the CLI arguments.
What I would like to propose to a "Git style" structuring of the CLI to have more predictable patterns when interacting with it.

## Import
Let's start out with these 2 commands:

[code]
Both these

[2020-08-31 10:27] RamonGebben commented on #84
Maybe we need to use [`commander.js`](https://github.com/tj/commander.js/) instead of `docopt` to create more structure within the CLI. From the documentation of `docopt` it seems like this structure might be overreaching a bit.

[2020-09-19 04:53] nadeemc opened #88 "Issue with dato dump in v3.0.41"
Running in nodejs v10, v12, or v14, v3.0.41 of the cli produces the following message on CentOS:

`/usr/bin/env: node --async-stack-traces: No such file or directory`

Workaround is to install v3.0.39 instead:

`npm i datocms-client@3.0.39 -g`

[2020-09-19 05:12] stefanoverna commented on #88
Fixed in 3.0.42, thanks for reporting!

[2020-09-19 05:12] #88 closed

[2020-09-22 06:43] robbielitebit opened #89 "[Bug]: ApiException in generateClient"
I make a request with the SiteClient to update a field. This apparently leads to a 422 `Unprocessable Entity` (no idea why). But the error I receive is:

`TypeError: Cannot read property 'url' of undefined` in `ApiException`

I checked out the library code and this ApiException is thrown in `generateClient`: https://github.com/datocms/js-datocms-client/blob/c103377c869152fa4887228fb79d77326baf9d3b

[2020-09-22 06:48] robbielitebit commented on #89
Found the "real" error btw:

`
{
  code: 'INVALID_FIELD',
  details: {
    field: 'validators.enum',
    code: 'VALIDATION_INVALID',
    message: 'validator not applicable on this field type'
  }
}
`

So it would be very helpful if you receive this instead of the `TypeError`

[2020-09-22 07:21] stefanoverna commented on #89
Working on it!

—
Stefano Verna

DatoCMS

--- original message ---
On September 22, 2020, 8:48 AM GMT+2 notifications@github.com wrote:

Found the "real" error btw:

{ code: 'INVALID_FIELD', details: { field: 'validators.enum', code: 'VALIDATION_INVALID', message: 'validator not applicable on this field type' } }

So it would be very helpful if you receive this instead of the TypeError

—

You are

[2020-09-22 07:48] stefanoverna commented on #89
Fixed in v3.0.44, thanks for reporting!

[2020-09-22 07:48] #89 closed

[2020-09-22 08:10] robbielitebit commented on #89
Thanks for the fast fix!

[2020-12-12 12:38] gnuletik opened #93 "dump: unable to retrieve field since v3.1.0"
Hi,

Since `datocms-client` v3.10 upgrade, `dato dump` ignore fields ending with a number.
`v3.2.0` does not fixes the issue.
`v3.0.44` works fine.

We can reproduce the issue with the following configuration file.
On impacted versions, undefined is printed.

dato.config.js
[code]

[2020-12-14 10:48] matjack1 commented on #93
thank you @gnuletik for the report. We'll have a look and be in touch as soon as possible

[2020-12-14 12:12] souljuse commented on #93
I tried to reproduce but fields ending with numbers do not seem to be the problem.

@gnuletik I think we should check your specific case! Write to [support](https://www.datocms.com/support) so we can find a solution.

[2020-12-14 12:12] #93 closed

[2020-12-17 11:56] gnuletik commented on #93
Fixed by https://github.com/datocms/js-datocms-client/commit/485a627be01c15b94d20bbff9acb5d535c9887db
Available in `v3.2.1`

Thanks for the support @stefanoverna @matjack1 and @souljuse :)

[2021-01-20 22:01] betabong opened #98 "Contenful import: entries linked in richtext field break"
[code]

[2021-01-20 22:04] betabong commented on #98
IMHO it should log a warning and add some placeholder text into the field, like

[code]

Something like that. But aborting is not cool.

[2021-04-07 15:30] MaxSamnani opened #108 "having ruiisue in run"
'ACCOUNT_API_BASE_URL' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! errno 1
npm ERR! datocms-client@3.4.3 mocha: `ACCOUNT_API_BASE_URL='https://account-api.datocms.com' SITE_API_BASE_URL='https://site-api.datocms.com' npm run inner:mocha`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the datocms-client@3.4.3 mocha script.
npm ERR! This is prob

[2021-04-07 15:33] matjack1 commented on #108
hey @MaxSamnani try getting rid of the env variables `ACCOUNT_API_BASE_URL='https://account-api.datocms.com' SITE_API_BASE_URL='https://site-api.datocms.com'` as they should be set as default for you. They are variables only for us to point at development/staging environments

[2021-04-08 06:48] stefanoverna commented on #108
Please pull the latest version from master. We added `cross-env` to fix issues with ENV variables on Windows machines.

[2021-04-08 06:48] #108 closed

[2021-04-15 06:28] janneronkko opened #109 "The application hangs at the end of some commands"
I tried out migrations and was following https://www.datocms.com/docs/scripting-migrations/scripting-migrations-with-the-datocms-cli where the first example instructed me to run `dato new migration 'create article model'`

The command hanged after it had created the migration file. I tested versions 3.4.3, 3.4.2, 3.4.1, 3.4.0 and 3.3.0 and the command hanged with all 3.4 version but did not hang w

[2021-04-16 14:40] stefanoverna commented on #109
Thanks for reporting @janneronkko, it has been fixed in 3.4.4!

[2021-04-16 14:40] #109 closed

[2021-05-04 00:08] benkitzelman opened #112 "Binding to SIGINT prevented due to tmp module"
Hi,

Currently binding to `process.on("SIGINT", () => {});` is broken, due to the dependence on tmp v 0.1.0 (see https://github.com/raszi/node-tmp/issues/247).

Unfortunately, this is currently preventing us from gracefully shutting down our server as our signal trap is not being bound / being clobbered by tmp.

Any chance of bumping the version?
Thanks

[2021-05-04 00:45] benkitzelman commented on #112
PR: https://github.com/datocms/js-datocms-client/pull/113

[2021-05-04 06:41] stefanoverna commented on #112
Thanks @benkitzelman, released as v3.4.7!

[2021-05-04 06:41] #112 closed

[2021-05-06 11:21] andresgutgon opened #115 "Parse ApiException errors to use in our code"
## What?
Hi, maybe there is a more efficient way of doing this. I'm debugging the request and don't find something better : )

## What we want?
We want to use DatoCMS validations and massage the error to show it translated in our UI. For example imagine we have an `email` field in a DatoCMS model. What we want is to tell the user that the field `email` is `required` and must have an email format.

[2021-05-06 11:26] andresgutgon commented on #115
Maybe exposing this would be nice https://github.com/datocms/js-datocms-client/blob/8df86e5cfd160922fc80c7dd6810fe853265dd2e/src/ApiException.js#L14 ?

[2021-05-06 12:15] stefanoverna commented on #115
Sure, we could expose both error.attributes.details and error.attributes.code. If you've time please submit a MR, or I'll try to do it myself when I can free myself :)

[2021-05-07 14:07] andresgutgon commented on #115
Let me check : )

[2021-05-07 14:31] andresgutgon commented on #115
Yes! I can work with this

![image](https://user-images.githubusercontent.com/49499/117464999-82680900-af51-11eb-9da4-fab976e9f67d.png)

[2021-05-07 14:31] #115 closed

[2021-05-07 15:31] stefanoverna commented on #115
Are you sure? `data` should definitely be an array! See this line, were we take the first error:

https://github.com/datocms/js-datocms-client/blob/8df86e5cfd160922fc80c7dd6810fe853265dd2e/src/ApiException.js#L13

[2021-05-07 15:34] andresgutgon commented on #115
I think because the keys are numbers:
![image](https://user-images.githubusercontent.com/49499/117473623-73398900-af5a-11eb-9630-27cc78db499f.png)

[2021-05-07 15:37] andresgutgon commented on #115
@stefanoverna do you know where I can find the documentation to know what types of error codes the API can return:

So far I have seen `MISSING_FIELDS` and `INVALID_FIELD`. Is a bit weird because `MISSING_FIELDS` returns an array of fields and `INVALID_FIELD` is information only for one field.

Would be nicer to return always `INVALID_FIELD` and inside `details.code` to be `MISSING_FIELD`

Any way

[2021-05-10 08:38] stefanoverna commented on #115
Iterating over `body.data` works for me:

[code]

We don't have an official list of errors as they might change in the future, but:

* `INVALID_ATTRIBUTES`: when non-existing fields are passed
* `INVALID_FIELD`: format/validation fails over some field
* `MISSING_FIELDS`: when you need to pass some extra fields in the payload
* `INVALID_TYPE`: when you specify an invalid item type
* `DUPLICATE_SING

[2021-05-10 09:40] andresgutgon commented on #115
I was using `body.each`. I guess an Object doesn't have `each`. My bad

[2021-07-19 21:37] rodrigodiasf1984 opened #118 "Types not found"
Hello, I tried to install with npm and yarn, none of them is working! Can you help, please?

yarn add -D @types/datocms-client
yarn add v1.22.10
warning ../../../package.json: No license field
[1/4] Resolving packages...
error An unexpected error occurred: "https://registry.yarnpkg.com/@types%2fdatocms-client: Not found".

npm i --save-dev @types/datocms-client
npm ERR! code E404
npm ERR! 404 Not

[2021-07-20 08:00] stefanoverna commented on #118
Hey rodrigo, that's simply because TS types are not available for this package (yet)

[2021-07-20 08:00] #118 closed

[2021-07-20 08:02] rodrigodiasf1984 commented on #118
Hi Estefano, Ok  Grazie!

[2021-09-02 21:28] arcataroger opened #119 "Contentful importer: Error message with insufficient API permissions"
Hey there,

Minor issue, but when I tried to import a space from Contentful, I got the following error:

Turns out this was because I created a new API key in Dato but didn't give it the right permissions. (I didn't want to use the default "Full Permissions" key and have that logged to my command line history.) Using the full permission key DOES work. But using a new API key with access to the Con

[2021-09-06 15:43] souljuse commented on #119
Hi @arcataroger, thanks for reporting this!

Usually permissions-related errors give back proper error messages, so this could be due to something else. 🤔 Could you write to our [support team](https://www.datocms.com/support) with the full command you are executing (--datoCmsToken, --contentfulToken and --contentfulSpaceId), so we can reproduce the issue more easily?

Thanks!

[2021-09-23 18:12] cbaxter713 opened #120 "Error with Wordpress Importer"
I am trying to use the Wordpress Importer from the datocms-client package.  I have followed the directions in this article (https://www.datocms.com/blog/wordpress-importer).  I have ensured that the dato full access api token, wordress URL, wordpress username and password are all correct, and that the wordpress user has admin access.  But I keep getting the same error after running the command.  S

[2021-09-24 08:48] matjack1 commented on #120
hello @cbaxter713 I'm following up on support as I think it's a problem of your WP instance.

[2021-09-24 08:48] #120 closed

[2021-10-12 20:21] erasmussenBHTP opened #121 "500 Error With New WYSIWYG Field Creation"
I'm running version 3.4.18 of the DatoCMS CLI and I'm having issues creating a migration with a multi-line text field that uses the wysiwyg editor. The CLI output says that a 500 Internal Server Error occurred with the following response data:

[code]

I'm able to work around this simply by creating the field through the UI, but I would prefer to manage all models and fields through migration scri

[2021-10-13 07:11] stefanoverna commented on #121
I think it has to do with the typo `requried` instead of `required` @erasmussenBHTP. Having that said, we should not break with a 500 :)

[2021-10-13 12:03] erasmussenBHTP commented on #121
Whoops! That was definitely the issue. Thanks for catching that.

[2021-10-13 12:03] #121 closed

[2021-11-01 12:53] robertp-harrys opened #124 "localizedRead - localeFallbacks not applying to list media items"
Hello!

We're trying to upgrade to latest gatsby version. During upgrade to gatsby v3. using `graphql-source-datocms` in versions both `3.0.6` we are run into the issue where localeFallbacks don't work for multiple media fields. Same issues appear in v2.6.17 (gatsby2). The last working version we're currently use is `2.4.9` for `gatsby-source-datocms`.

Below i show a screenshot of the difference

[2021-11-01 15:19] stefanoverna commented on #124
You're right @robertp-harrys! Just released 3.5.8 which hopefully will fix the issue!

[2021-11-03 11:01] joernroeder opened #125 "realFetch.call is not a function"
I'm running into a [seemingly know](https://github.com/matthew-andrews/isomorphic-fetch/issues/194) issue when using the dato client inside a [gatsby function](https://www.gatsbyjs.com/docs/reference/functions/getting-started/#hello-world)

I'm not only seeing it on gatsby cloud but also in my local environment and the reason for that seems to be https://github.com/matthew-andrews/isomorphic-fetch

[2021-11-03 12:23] stefanoverna commented on #125
Please try with 3.5.9 which uses cross-fetch! Thanks for reporting @joernroeder!

[2021-11-03 12:23] #125 closed

[2021-11-03 15:55] souljuse commented on #119
Fixed!

Now if one tries to update a site object, without the proper permissions, gets a `401 INSUFFICIENT_PERMISSIONS` error.

[2021-11-03 15:55] #119 closed

[2021-11-04 08:58] joernroeder opened #127 "client side uploads: bring your own S3 url"
Hey, Not really an issue, but more a suggestion this time.

I'm uploading files from the front end to my dato instance and don't expose any secrets to the client, by basically following https://community.datocms.com/t/uploading-images-from-forms-via-netlify-functions/640/3 with two api endpoints.

1. `POST /get-upload-url` which accepts a file name and returns a signed S3 url
2. `PUT` the file to

[2021-11-04 09:26] stefanoverna commented on #127
That seems doable, sure. Would it be OK to simply export the uploadToS3 function? https://github.com/datocms/js-datocms-client/blob/master/src/upload/adapters/browser.js#L50 is just some code that glues the creation of upload request with the upload itself.

[2021-11-04 09:34] stefanoverna commented on #127
See https://github.com/datocms/js-datocms-client/commit/ad8acadc5f1cbf0e2b27f21e1380e90030df1f55.

In browsers:

[code]

On Node:

[code]

[2021-11-04 20:39] joernroeder commented on #127
yeah, that's a good start and would remove duplication. I envisioned something which also takes care of the `cancellation` but I can also glue that together myself.

My Idea was something like below (untested, dummy code) with a proper name :D

[code]

[2021-11-09 11:50] souljuse commented on #98
We are closing this issue due to the lack of information about it. @betabong if you are still experiencing this problem, please write to support@datocms.com with more details!

[2021-11-09 11:50] #98 closed

[2021-11-09 11:55] souljuse commented on #70
Retry logic is implemented in the latest releases of the client. Could you upgrade and tell us if you are still having this issue? Closing the issue in the meantime, feel free to re-open.

[2021-11-09 11:55] #70 closed

[2021-11-09 12:00] souljuse commented on #81
Hi @RamonGebben this sounds more like a feature request than an issue :) We decided to collect all feature requests in one place, which is our[ community forum](https://community.datocms.com/c/feature-requests), and then release the most voted ones. It would be great to hear your voice there :D

[2021-11-09 12:00] #81 closed

[2021-11-25 07:47] moritzjacobs opened #128 "DATO_MANAGEMENT_API_TOKEN vs. DATO_API_TOKEN"
The client seems to look for `DATO_MANAGEMENT_API_TOKEN` while the `dato check` command adds the `DATO_API_TOKEN` to the `.env`.

Is there a difference I don't understand or is this a bug? If it is, I can provide a PR, if you want.

Thanks for your help!

[2021-11-29 12:11] stefanoverna commented on #128
There's a reason for that: DATO_API_TOKEN is meant to be a token with reduced priviledges, to be used with `dato check` and `dato dump`. DATO_MANAGEMENT_API_TOKEN is for all the management commands (environments, etc.)

[2021-11-29 15:12] moritzjacobs commented on #128
Ah, I see.

[2021-11-29 15:12] #128 closed

[2021-12-08 21:52] arcataroger opened #130 "Feature request: Default to NOT destroying existing assets and make that an optional flag"
I was importing a specific content type from Contentful into an existing Dato space, but the script started deleting all my existing Dato assets with no warning :(

Fortunately I ran it against a sandbox environment, but otherwise, yikes, we would've lost thousands of assets!

I think the script should failsafe to "Existing unused assets found in your DatoCMS environment. To delete them, use the -

[2021-12-09 18:23] arcataroger commented on #130
After further debugging, I realized this behavior applies not only to assets, but to locales and models too. I'm going to close this issue and make a separate, clearer one.

[2021-12-09 18:23] #130 closed

[2021-12-09 18:30] arcataroger opened #131 "Contentful importer: Clarify that this is a destructive/dangerous operation"
Following [the instructions on this DatoCMS help page about Contentful imports](https://www.datocms.com/docs/import-and-export/import-space-from-contentful), I ran this program to import a particular Contentful model over to Dato.

It was **not** clear that this operation will destroy many things in Dato:

- Unused DatoCMS assets (i.e., it could clear your whole media library)
- Unused DatoCMS loc

[2021-12-09 20:05] stefanoverna commented on #131
Agreed. We'll work on it real soon

[2021-12-09 20:08] arcataroger commented on #131
Awesome, thank you!

[2022-01-03 12:04] marcelofinamorvieira commented on #131
Added with v. 3.5.12
Thanks once again @arcataroger for the feed back!

[2022-01-03 12:04] #131 closed

[2022-01-10 11:26] janneronkko opened #132 "Dato CLI gets stuck if colors 1.4.1, 1.4.2 or 1.4.44-liberty-2 is installed"
i.e. Dato CLI is affected by https://www.bleepingcomputer.com/news/security/dev-corrupts-npm-libs-colors-and-faker-breaking-thousands-of-apps/

You can work around the issue by installing version 1.4.0

To replicate the issue, just run *npm install datocms-client* and run *dato*

[2022-01-10 13:54] thebuilder commented on #132
Seems like the library is only used in [two places](https://github.com/datocms/js-datocms-client/search?q=colors) - The best approach might be to replace the package with a safer package like [chalk](https://github.com/chalk/chalk).

[2022-01-10 14:07] janneronkko commented on #132
Maybe a quick fix would be to release new version that masks newer versions of colors so that people installing latest datocms-client would not have issues

[2022-01-10 15:23] #132 closed

[2022-01-10 15:28] stefanoverna commented on #132
Released as 3.5.13! Thank you all!

[2022-01-15 20:17] lucasconstantino opened #135 "TypeScript"
Hello!

Is there any core-team effort to add TypeScript declarations for this library?

Thanks :)

[2022-02-11 16:58] rv-jbaker commented on #84
would also love to see an import for drupal 🚀

[2022-02-25 14:37] heldinz opened #138 "Import Wordpress to existing Dato instance"
A client of ours has a long-standing site running on Dato, and would now like to incorporate their Wordpress blog into the site. The Wordpress import tool included here looks ideal, except for the fact that it destroys existing data.

It looks like we only have one model name overlapping with [the Wordpress ones](https://github.com/datocms/js-datocms-client/blob/9e031bbfbbf76d7f520b1dbd84e2ed27cdf

[2022-04-07 08:25] andreavettore opened #144 "Copy content - question"
Hello guys,
is there the possibility to copy all the content from one locale to another for all the records of a specified model?

If it's not already implemented, what is the best behaviour to achieve this result?
Thank you

[2022-04-11 16:53] Gregorein commented on #135
Bumping the idea, because official typings would be cool :)
I'm working on a ts project so given some spare time I might have something to share.

[2022-04-11 17:43] stefanoverna commented on #135
we're secretly working on this too :) will keep you updated!

—
Stefano Verna
Founder and CEO @ DatoCMS

--- original message ---
On April 11, 2022, 4:53 PM GMT ***@***.*** wrote:

Bumping the idea, because official typings would be cool :)

I'm working on a ts project so given some spare time I might have something to share.

—

Reply to this email directly, view it on GitHub, or unsubscribe.

Yo

[2022-04-22 03:38] tholder opened #145 "buildModularBlock is not a function"
Having trouble calling buildModularBlock.

[code]

Returns undefined. Can't call this function. I've looked through the code here and can't quite determine what's going on. The following hints at a similar issue https://community.datocms.com/t/can-you-programmatically-create-blocks-in-plugins/2407

[2022-04-22 03:41] tholder commented on #145
If I import direct it seems to work:

[code]

[2022-04-28 01:55] dan-turner commented on #135
Thank you @stefanoverna !!!

[2022-05-10 00:11] massitashakori opened #147 "receiving runtime error from renderRule"
Hi, I noticed since the datocms-client dependencies updated we are having an issue with the error below:
`Unhandled Runtime Error
TypeError: (0 , datocms_structured_text_generic_html_renderer__WEBPACK_IMPORTED_MODULE_1__.renderRule) is not a function`

tried to put datocms-client version back but apparently, there are more dependencies' versions changed. any thoughts?

[2022-05-10 07:57] stefanoverna commented on #147
On newer releases you should import `renderNodeRule` instead of `renderRule`!

[2022-05-10 07:57] #147 closed